[build]
  publish = "."
  functions = "netlify/functions"
  command = "npm install"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

# Headers for CORS
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
